// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  color: #B2B2B2;
  background-color: #343434;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
  z-index: 500;
}


header {
  top: 0;
  left: 0;
  display: table;
}

header #main_header_small {
  display: none;
}

header #main_header_big {
  display: table-cell;
  vertical-align: middle;
}

header table {
  width: 100%;
  height: 60px;
  color: #ffffff;
  cursor: default;
}

header div#slogan {
  color: #B2B2B2;
  font-weight: normal;
  font-size: 40px;
  font-weight: bold;

  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header div#slogan:hover {
  color: #ffffff;
}

header nav {
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
}

header nav a {
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

header nav i {
  font-size: 18px;
}

header nav a.contact,
header #main_menu nav a.contact,
.contact {
  color: #A7DD00;
  width: 15px;
}

header nav a:hover,
header nav a.contact:hover,
header #main_menu nav a.contact:hover {
  color: #1a93ba;
  text-decoration: none;
}

@media (max-width: 1100px) {
  header #main_header_big {
    display: none;
  }

  header #main_header_small {
    display: block;
  }

  header {
    position: static;
  }
}

div#logo_big {
  width: 70px;
  height: 70px;
  z-index: 1000;
  cursor: pointer;
}

footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  color: #B2B2B2;
  background-color: #343434;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
  z-index: 500;
}

footer {
  bottom: 0;
  left: 0;
  padding-top: 5px;
  height: 25px;
  text-align: center;
}

footer a,
footer a:hover {
  color: #B2B2B2;
  text-decoration: none;
  cursor: default;
}


@media (max-width: 1100px) {
  footer {
    position: static;
  }
}

